html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #3CB371;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30vh 20vh 50vh ;
  grid-template-areas: "header aside"
                      "h2 aside"
                      "main aside";
}

header {
  grid-area: header;
  justify-items: start;
  align-items: center;
}

header img {
  width: 250px;
  height: 80px;
}

h2 {
  grid-area: h2;
  color: white;
  justify-self: center;
  align-self: end;
}

main {
  grid-area: main;
  justify-self: center;
  align-self: start;

  background: white;
  border-radius: 10px;
  width: 420px;
  height: 46px;
  padding: 8px;

  display: grid;
  grid-template-columns: 7fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}


main input {
  margin: 0;
  border: 0 none;
  outline: 0;
  box-shadow: 0 0 0 0;
  width: 100%;
  height: 30px;
  justify-self: center;

  ::-webkit-input-placeholder {
      color: gray;
   }
    
   :-moz-placeholder { /* Firefox 18- */
      color: gray;  
   }
    
   ::-moz-placeholder {  /* Firefox 19+ */
      color: gray;  
   }
    
   :-ms-input-placeholder {  
      color: gray;  
   }
}



main p {
  color: gray;
}

main img {
  width: 60%;
  height: 30px;
  justify-self: center;

  background-image: none;
  color: gray;
  
}


aside {
  grid-area: aside;
  justify-self: center;
  align-self: center;

}

